{{>bootstraphead}}
  <body onload="myfunc()">
    {{>adminnavbar}}
    <br>
    <h2 class="page-title">Categories</h2>
    <a href="/addcategories" class="btn btn-primary">Add a New Category</a>
   <br><br>
     
     <table class="table table-striped">
           <thead>
              <tr>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
           </thead>
        <tbody id="tabledata">
          
           
        </tbody>
    </table>

  </body>
  <script>
    const myfunc=async()=>{
          
          const tabledata = document.getElementById('tabledata')
          let p = await fetch('http://localhost:5000/categoryapi')
          let parsedata = await p.json()

          let result = ''

          for(let i = 0; i<parsedata.length;i++){
           let id = parsedata[i]._id
            result+=`<tr>
                <td>${parsedata[i].title}</td>
                <td><button class='btn btn-dark'><a href='/categories/edit-category?id=${id}'>edit</a></button></td>
                <td><form action='/categories/delete-category/${id}' method='post'><button class='btn btn-primary'>Delete</button></form></td>
            </tr>`
          }
          tabledata.innerHTML = result
    }
  </script>
  {{>bootstrapscript}}
</html>